* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 60px 0;
  }
}

.block {
  text-align: center;
}
.block__logo {
  margin: 0 0 30px 0;
}
.block__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #353738;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  position: relative;
}
.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  height: 1px;
  width: 50px;
  background-color: #ebebeb;
}
.brands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
}
.brands__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 66px 55px 66px;
}
.brands__img {
  padding: 0 0 37.5% 0;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item__logo:hover {
  background-color: rgba(100, 194, 158, 0.5);
}
.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  font-family: "Lato", sans-serif;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* HEADER================================================================= */
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 35px;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
  .header__logo {
    left: 5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .header__logo.active {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list li {
  padding: 0 37px;
  position: relative;
}
.nav__list li:after {
  content: "";
  background: #4d4959;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  right: 0;
}
.nav__list li:nth-child(2) {
  padding: 0 110px 0 37px;
}
.nav__list li:nth-child(3) {
  padding: 0 37px 0 110px;
}
.nav__list li:last-child:after, .nav__list li:nth-child(2):after {
  display: none;
}
.nav__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4959;
}
@media (max-width: 767px) {
  .nav__body {
    background-color: #282f35;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 140px 0 20px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }
  .nav__body.active {
    top: 0;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list li {
    padding: 0 0 45px 0;
  }
  .nav__list li:nth-child(2), .nav__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .nav__list li:nth-child(2):after, .nav__list li:nth-child(3):after {
    display: block;
  }
  .nav__list li:last-child {
    padding: 0;
  }
  .nav__list li:after {
    background: #ffffff;
    width: 4px;
    height: 4px;
    top: 40px;
    right: 50%;
  }
  .nav__link {
    color: #fff;
    font-size: 20px;
  }
}

.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #282f35;
  }
  .header__burger span:first-child {
    top: 9px;
  }
  .header__burger span:last-child {
    bottom: 0;
  }
  .header__burger.active span {
    background-color: #fff;
  }
}